html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
 background-color: $bg;
 color: $black;
 font-size: 18px;
 line-height: 24px;
 font-family: 'Roboto Condensed', sans-serif;
 font-weight: 400;
 padding: 50px 0;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.container--cart{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper{
    background-color: #fff;
    max-width: 1200px;
    margin: 0px auto;
    border-radius: 10px;
}
ul{
    list-style: none;
    margin: 0;padding: 0;
}
li{
    margin: 0;padding: 0;
}
a{
    display: inline-block;
    text-decoration: none;
    color: $white;
}
